:root {
    --brandcolor: #2196F3;
    --secondary-accent-color: #188CE8;
    --backgroundcolor: #FFFFFF;
    --text-color: #fff;
    --accent-bcg-color: #2F303A;
    --secondary-bcg-color: #F5F4FA;
    --hcolor: #212121;
    --pcolor: #757575;
    --logocolor: #000000;
}

/* Глобальны зміни */

h1,
h2,
h3,
ul,
p {
    margin: 0px 0px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--backgroundcolor);
    color: var(--hcolor);

}



.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.list {
    list-style: none;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

/* Студія */

/* Logo head  */

.container-nav {
    display: flex;
    
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logocolor);
}

.logo-accent {
    color: var(--brandcolor);
}

/* Nav */

.nav {
    display: flex;
    align-items: center;
}

.list-nav .link.current {
    color: var(--secondary-accent-color);
}

.list-nav {
    display: flex;
    margin-left: 93px;
}

.list-nav .item + .item {
    margin-left: 50px;
}

.list-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--hcolor);
}

.link:hover, .link:focus {
    color: var(--brandcolor);
}

/* Contacts Nav */

.icon-envelope {
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--pcolor);
}

.icon-envelope:hover {
    fill: var(--brandcolor);
}

.contacts-nav {
    display: flex;
    margin-left: auto;
}

.contacts-nav .item + .item {
    margin-left: 50px;
}

.contacts-nav .link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-style: normal;
    line-height: 1.14;
    font-size: 14px;
    color: var(--pcolor);
    letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
    color: var(--brandcolor);
}

/* Main Studio */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--accent-bcg-color);
    text-align: center;
    

}

.hero-title {
    max-width: 696px;
    margin: 0 auto 30px;

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-color);
}

.hero-button {
    padding: 10px 32px;
    min-width: 216px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--text-color);
    background-color: var(--brandcolor);
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--secondary-accent-color);
}

/*Our advantages */

.our-advantages {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
}

.advantages-list .item {
    width: 270px;
}

.advantages-list .item+.item {
    margin-left: 30px;
}

.advantages-title {
    margin-bottom: 10px;

    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--pcolor)
}

/* We do */

.we-do {
    padding-bottom: 94px;
}

.we-do .list {
    display: flex;
    justify-content: space-between;
}

.we-do-title,
.our-team-title {
    margin-bottom: 50px;

    font-style: normal;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* our team */
.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--secondary-bcg-color);
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list .item {
    text-align: center;
    padding-bottom: 30px;
    background: var(--backgroundcolor);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.img-team {
    margin-bottom: 30px;
}

.team-name {
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.job-title {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--pcolor);
}
/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--accent-bcg-color) ;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--text-color);
}

.street-contact {
    display: inline-block;
    margin-bottom: 9px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.mail-list {
    margin-bottom: 9px;
}

.footer-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */

/* Filter */

.section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.filter-list .item + .item {
    margin-left: 8px;
}

.filter-button {
    padding: 6px 22px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--hcolor);
    border: none;
    background-color: var(--secondary-bcg-color);
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    color: #FFFFFF;
    background-color: var(--brandcolor);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-box {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.portfolio-title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--pcolor);
    
}